[v-cloak] {
  display: none;
}

body {
    /* padding-top: 53px; */
    /* font-family: 'Oswald', sans-serif; */
    background-color:cadetblue;
  }

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#game, #roomSelection {
  margin: auto;
}

.v-application {
  background-color: var(--v-background-base) !important;
}